{% extends 'base.html.twig' %}
{% set i = 1 %}
{% block navTitle %}Profil de {{ user.username }}{% endblock %}
{% block body %}
    <div class="mdl-grid">
        <div class = "mdl-cell mdl-cell--4-col">
            {% include 'community/includes/user-profile.html.twig' %}
        </div>
        <div class = "mdl-cell mdl-cell--8-col">
            <p class="section-title">Favoris</p>
            <div id="favoris">
                <table class="mdl-data-table mdl-js-data-table" width="100%">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric ">Nom</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>Météo actuelle</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for favorite in user.favorites %}
                             <tr>
                                 <td>{{ favorite.location.name }}</td>
                                 <td>{{ favorite.location.latitude }}</td>
                                 <td>{{ favorite.location.longitude }}</td>
                                 <td id="favorite{{ i }}"></td>
                                 <td>
                                    <a title="Voir" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon"
                                        href="{{ path('app-coordinates', {'lat': favorite.location.latitude, 'lon': favorite.location.longitude }) }}">
                                         <i class="material-icons">arrow_right</i>
                                     </a>
                                     <a title="Evaluations" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon"
                                        href="{{ path('reviews-index', {'id': favorite.location.id }) }}">
                                         <i class="material-icons" style="font-size: 15px;">comment</i>
                                     </a>
                                    {% if user == app.user or app.user.role.isAdmin %}
                                    <button title="Supprimer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon profileRemoveFavorite" data-id="{{ favorite.id }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer ce favori?');">
                                        <i class="material-icons">clear</i>
                                    </button>
                                    {% endif %}
                                 </td>
                             </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

             <p class="section-title">Itinéraires</p>
            <div id="itineraires">
                <table class="mdl-data-table mdl-js-data-table" width="100%">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Nom</th>
                        <th>Distance (en km)</th>
                        <th>Durée (en h)</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                        {% for itinerary in user.itineraries %}
                             <tr>
                                 <td>{{ itinerary.name }}</td>
                                 <td>{{ itinerary.distance / 1000 }}</td>
                                 <td>{% if itinerary.duration is not null %}{{ itinerary.duration|date('H:i:s') }}{% else %} > 24h{% endif %}</td>
                                 <td>
                                    <a title="Voir" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon"
                                        href="{{ path('view-itinerary', {'itineraryId': itinerary.id }) }}">
                                         <i class="material-icons">arrow_right</i>
                                    </a>
                                    {% if user == app.user or app.user.role.isAdmin %}
                                    <button title="Supprimer" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon profileRemoveItinerary" data-id="{{ itinerary.id }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cet itinéraire?');">
                                        <i class="material-icons">clear</i>
                                    </button>
                                    {% endif %}
                                 </td>
                             </tr>
                            {% set i = i+1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <p class="section-title">Statistiques</p>
            <div id="stats">
                <section class="section--footer mdl-color--white mdl-grid">
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-typography--text-center">
                        <b class="counter data-big" data-count="{{ user.itineraries|length }}">0</b>
                        <p class="info-big">itinéraire{% if user.itineraries|length > 1 %}s{% endif %}</p>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-typography--text-center">
                        <b class="counter data-big" data-count="{{ user.cities }}">0</b>
                        <p class="info-big">ville{% if user.cities > 1 %}s{% endif %} recherchée{% if user.cities > 1 %}s{% endif %}</p>
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--12-col-phone mdl-cell--12-col-tablet mdl-typography--text-center">
                        <b class=" counter data-big" data-count="{{ user.favorites|length }}">0</b>
                        <p class="info-big">favori{% if user.favorites|length > 1 %}s{% endif %}</p>
                    </div>
                </section>
            </div>

            {% if app.user == user and user.pendingFriendRequests is not empty %}
                <p class="section-title">Demandes d'amis</p>
                <div id="requests">
                     <div class="mdl-grid">
                        {% for request in user.pendingFriendRequests %}
                        <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                            <a href="{{ path('profile-index', { 'username': request.username }) }}"><img src="{{ asset('uploads/users/' ~ request.avatar) }}" class="avatar"></a>
                            <p style="font-weight: bold;">{{ request.username }}</p>
                            <button title="Accepter" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon acceptFriendRequest" data-user="{{ request.id }}">
                                <i class="material-icons">check</i>
                            </button>
                            <button title="Refuser" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary mdl-button--icon removeFriendRequest" data-user="{{ request.id }}">
                                <i class="material-icons">clear</i>
                            </button>
                        </div>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <p class="section-title">Amis</p>
            <div id="friends">
                {% if user.friends is not empty %}
                     <div class="mdl-grid">
                        {% for friend in user.friends %}
                            <div class="mdl-cell mdl-cell--3-col mdl-typography--text-center">
                                <a href="{{ path('profile-index', { 'username': friend.username }) }}"><img src="{{ asset('uploads/users/' ~ friend.avatar) }}" class="avatar"></a>
                               <p style="font-weight: bold;">{{ friend.username }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var user = {{ user.id }};
        let j = 1;
        {% for favorite in user.favorites %}
            $.get("https://api.openweathermap.org/data/2.5/find?lat=" + {{ favorite.location.latitude }} + "&lon=" + {{ favorite.location.longitude }} + "&cnt=1&units=metric&appid=" + OWeatherMapAPIKey,
                function(data) {
                    if(data != null){
                        let id = "#favorite" + j;
                        $(id).append('<img src="https://openweathermap.org/img/w/' +  data.list[0].weather[0].icon  + '.png">');
                        ++j;
                    }
                }
            );
        {% endfor %}
    </script>
    <script>

    </script>
{% endblock %}