{% extends 'base.html.twig' %}
{% block body %}
        <div class="mdl-grid">
                <div class="mdl-card mdl-shadow--16dp util-center util-spacing-h--40px">
                        <div class="mdl-card__title mdl-color--primary">
                                <h2 style="font-weight: bold;" class="mdl-card__title-text mdl-color-text--white">Connexion</h2>
                        </div>
                        <div class="mdl-card__supporting-text mdl-grid">
                                <b class="mdl-color-text--accent">{% if error %}{{ error.messageKey }}{% endif %}</b>
                                {{ form_start(form) }}
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_username">Nom d'utilisateur</label>
                                                {{ form_widget(form._username) }}
                                        </div>

                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
                                                <label class="mdl-textfield__label mdl-color-text--grey" for="textfield_password">Mot de passe</label>
                                                {{ form_widget(form._password) }}
                                        </div>
                                        <p style="margin-left: 8px">Pas de compte ? <a href="{{ path('register') }}">S'enregistrer</a></p>
                                        <div class="mdl-cell mdl-cell--12-col send-button" align="right">
                                                <button type="submit"  class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--raised mdl-button--colored mdl-color--primary">
                                                        Se connecter
                                                </button>
                                        </div>
                                {{ form_end(form) }}
                        </div>
                </div>
        </div>
{% endblock %}